<% include common/header.ejs %>  

  <div id="index-banner" class="parallax-container">
    <% if(mainPost.posts.length !== 0){ %>
    <div class="section no-pad-bot mainPost">
      <div class="container">
        <br><br>
         <h1 class="header right white-text text-lighten-2"><%- mainPost.title %></h1>
          <a href='<%- "/post/" + mainPost.posts[0]["_id"].toString() + "/" + mainPost.posts[0].title.replace(/ /g,"-") %>'>
          
            <div class="row">
              <h5 class="header col s12 light">
                <%- mainPost.posts[0].title %>
              </h5>
            </div>
          </a> 
        <br><br> 
      </div>
    </div>
    <% } %>
    <div class="parallax"><img src="public/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
  
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 right">
          <% if(sport.posts.length !== 0){ %> 
            <div class="section">
              <h5 class="center mainHeader"><%= sport.title %></h5>
            </div>
            <% sport.posts.forEach(function(eachPost){ %> 
            <div class="icon-block">   
              <h5 class="mainHeader"><a href='<%- "/post/" + eachPost["_id"].toString() + "/" + eachPost.title.replace(/ /g,"-") %>'> <%= eachPost.title %></a></h5>
              <p class="mainTxt light"><%- eachPost.text %></p>
            </div> 
            <% }); %>
          <% } else{ %>
           <p class="">فاقد خبر <%= sport.title %></p>
          <% } %>
        </div>

        <div class="col s12 m4 right">
          <% if(social.posts.length !== 0){ %> 
            <div class="section">
              <h5 class="center mainHeader"><%= social.title %></h5>
            </div>
            <% social.posts.forEach(function(eachPost){ %> 
            <div class="icon-block">   
              <h5 class="mainHeader"><%= eachPost.title %></h5>
              <p class="mainTxt light"><%= eachPost.text %></p>
            </div> 
            <% }); %>
          <% } else{ %>
           <p>فاقد خبر <%= social.title %></p>
          <% } %>
        </div>

        <div class="col s12 m4 right">
          <% if(politic.posts.length !== 0){ %> 
            <div class="section">
              <h5 class="center mainHeader"><%= politic.title %></h5>
            </div>
            <% politic.posts.forEach(function(eachPost){ %> 
            <div class="icon-block">   
              <h5 class="mainHeader"><a href=""><%= eachPost.title %></a></h5>
              <p class="mainTxt light"><%- eachPost.text %></p>
            </div> 
            <% }); %>
          <% } else{ %>
           <p>فاقد خبر <%= politic.title %></p>
          <% } %>
        </div>

      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      <!--  <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        -->
      </div>
    </div>
    <div class="parallax"><img src="public/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="contactHeader">تماس با ما</h4>
          <p class="center light contactTxt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
      </div>

    </div>
  


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
     <!--   <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        -->
      </div>
    </div>
    <div class="parallax"><img src="public/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
<% include common/footer.ejs %>

